# Enviroment Variables
.env*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

#Node / React
frontend/node_modules/
frontend/dist/
frontend/.vite/

#IDEs
.vscode/
.idea/

#Logs
*.log

#Docker
postgres_data/

#Generated User Content
backend/uploads/*
backend/annotated/*
backend/downloads/*

# Keep folder structure
!backend/uploads/.gitkeep
!backend/annotated/.gitkeep
!backend/downloads/.gitkeep

# YOLO training artifacts
backend/runs/
backend/training_export/
backend/models/
backend/datasets/

backend/*.pt

# OS Files
.DS_Store
Thumbs.db