# Python compilado
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Entornos virtuales y Anaconda
.conda/
.anaconda/

# Docker y Bases de datos locales
.docker/
postgres_data/

# Variables de entorno (Contraseñas y credenciales)
.env

# Datasets y archivos de entrenamiento
*.pt
runs/
datasets/
downloads/
BONE FRACTURE.*/

# Archivos subidos por usuarios en la API
backend/app/uploads/*
!backend/app/uploads/.gitkeep
