fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-dotenv
python-multipart
pydantic-settings
pillow
opencv-python-headless
pyyaml
matplotlib
numpy
requests
scipy
psutil
polars
email-validator
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1